@import '../../styles/shared.scss';

.createPageWrapper {
  display: flex;
  flex-direction: row;
  font-family: inherit;
  justify-content: center;
  border-bottom: 1px solid #b3b3b3;
}

.navWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  margin-top: 8px;
  font-family: inherit;

  & a {
    margin-bottom: 10px;
    text-decoration: none;
    color: inherit;
    font-family: inherit;

    // * due to routing with NavLink I have to disable pointer-events:
    pointer-events: none;
  }
}

a.active {
  color: #6cc880;
}

a.invalid {
  color: #a5a5a5;
}
